<app-header class="d-none d-md-block"></app-header>
<app-sub-header class="d-md-none"></app-sub-header>
<app-banner></app-banner>

<section class="section-md mt-n2 mt-md-0">
	<app-about-petman></app-about-petman>
</section>

<section class="section-md bg-primary-transparent">
	<app-scrollable-cards></app-scrollable-cards>
</section>

<section class="section-md bg-white">
	<app-customer-feedback></app-customer-feedback>
</section>

<section class="section-md bg-primary-transparent">
	<app-gallery></app-gallery>
</section>

<section class="section-md bg-white">
	<app-brands></app-brands>
</section>