// Imports
@import "../imports/functions";
@import "../utils/utils_radius";

// Local Variables
$alert-arrow-size: 18px;
$alert-arrow-radius: 4px;
$alert-arrow-space: ($alert-arrow-size / 2) + 2;
$alert-arrow-corner-space: 40px;

/******** START: Alert ********/
.alert {
  margin-bottom: 1rem;
  color: $color-white;
  position: relative;
  z-index: 0;

  // Alert content
  &-content {
    display: flex;
    @extend .radius;
    overflow: hidden;

    .alert-outline & {
      border: 1px solid $color-transparent;
    }
  }

  &-visual {
    display: none;

    .alert-icon-bg & {
      background: $color-secondary-lemon-yellow;
    }

    .alert-icon & {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }

    & > * {
      width: 24px;
      height: 24px;
      margin: 0 10px;

      @include media-breakpoint-up(lg) {
        // START: Desktop size
        width: 26px;
        height: 26px;
        // END: Desktop size
      }
    }
  }

  &-text {
    padding: 0.5rem;
    flex: 1 1 auto;
  }

  /* ----- Options ----- */

  // Alert primary
  &.alert-primary {
    .alert-content {
      background-color: $color-primary-red;
    }

    &::after {
      background-color: $color-primary-red;
    }

    // Alert primary outline
    &.alert-outline {
      .alert-content {
        border-color: $color-primary-red;
      }
      .alert-visual {
        background-color: $color-primary-red;
      }

      &::after {
        border-color: $color-primary-red !important;
      }
    }
  }

  // Alert secondary
  &.alert-secondary {
    .alert-content {
      background-color: $color-monochrome-anthracite;
    }

    &::after {
      background-color: $color-monochrome-anthracite;
    }

    // Alert secondary outline
    &.alert-outline {
      .alert-content {
        border-color: $color-monochrome-anthracite;
      }
      .alert-visual {
        background-color: $color-monochrome-anthracite;
      }
      &::after {
        border-color: $color-monochrome-anthracite !important;
      }
    }
  }

  // Alert success
  &.alert-success {
    .alert-content {
      background-color: $color-digital-green;
    }

    &::after {
      background-color: $color-digital-green;
    }

    // Alert success outline
    &.alert-outline {
      .alert-content {
        border-color: $color-digital-green;
      }
      .alert-visual {
        background-color: $color-digital-green;
      }
      &::after {
        border-color: $color-digital-green !important;
      }
    }
  }

  // Alert warning
  &.alert-warning {
    .alert-content {
      background-color: $color-secondary-yellow-warning;
    }

    &::after {
      background-color: $color-secondary-yellow-warning;
    }

    // Alert warning outline
    &.alert-outline {
      .alert-content {
        border-color: $color-secondary-yellow-warning;
      }
      .alert-visual {
        background-color: $color-secondary-yellow-warning;
      }
      &::after {
        border-color: $color-secondary-yellow-warning !important;
      }
    }
  }

  // General settings for outline style
  &.alert-outline {
    .alert-content {
      background-color: $color-monochrome-light-grey;
    }
    color: $color-body;

    &::after {
      background-color: $color-monochrome-light-grey;
      z-index: 1;
    }
  }

  // Alert arrows
  &::after {
    width: $alert-arrow-size;
    height: $alert-arrow-size;
    position: absolute;
    z-index: -1;
  }

  &.alert-arrow-start {
    #{$ltr} & {
      margin-left: $alert-arrow-space;
    }
    #{$rtl} & {
      margin-right: $alert-arrow-space;
    }

    &::after {
      top: 50%;
      #{$ltr} & {
        border-left: 1px solid $color-transparent;
        border-bottom: 1px solid $color-transparent;
        border-bottom-left-radius: $alert-arrow-radius;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      #{$rtl} & {
        border-right: 1px solid $color-transparent;
        border-top: 1px solid $color-transparent;
        border-top-right-radius: $alert-arrow-radius;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);
      }
    }
  }

  &.alert-arrow-end {
    #{$ltr} & {
      margin-right: $alert-arrow-space;
    }
    #{$rtl} & {
      margin-left: $alert-arrow-space;
    }

    &::after {
      top: 50%;

      #{$ltr} & {
        border-right: 1px solid $color-transparent;
        border-top: 1px solid $color-transparent;
        border-top-right-radius: $alert-arrow-radius;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);
      }
      #{$rtl} & {
        border-left: 1px solid $color-transparent;
        border-bottom: 1px solid $color-transparent;
        border-bottom-left-radius: $alert-arrow-radius;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &.alert-arrow-top {
    margin-top: $alert-arrow-space;

    &::after {
      border-left: 1px solid $color-transparent;
      border-top: 1px solid $color-transparent;
      border-top-left-radius: $alert-arrow-radius;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &-start {
      @extend .alert-arrow-top;
      &::after {
        #{$ltr} & {
          left: $alert-arrow-corner-space;
        }
        #{$rtl} & {
          right: $alert-arrow-corner-space;
        }
      }
    }
    &-end {
      @extend .alert-arrow-top;
      &::after {
        #{$ltr} & {
          left: calc(100% - #{$alert-arrow-corner-space});
        }
        #{$rtl} & {
          right: calc(100% - #{$alert-arrow-corner-space});
        }
      }
    }
  }

  &.alert-arrow-bottom {
    &::after {
      border-right: 1px solid $color-transparent;
      border-bottom: 1px solid $color-transparent;
      border-bottom-right-radius: $alert-arrow-radius;
      bottom: 0;

      #{$ltr} & {
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
      }
      #{$rtl} & {
        right: 50%;
        transform: translate(50%, 50%) rotate(45deg);
      }
    }

    &-start {
      @extend .alert-arrow-bottom;
      &::after {
        #{$ltr} & {
          left: $alert-arrow-corner-space;
        }
        #{$rtl} & {
          right: $alert-arrow-corner-space;
        }
      }
    }
    &-end {
      @extend .alert-arrow-bottom;
      &::after {
        #{$ltr} & {
          left: calc(100% - #{$alert-arrow-corner-space});
        }
        #{$rtl} & {
          right: calc(100% - #{$alert-arrow-corner-space});
        }
      }
    }
  }

  &.alert-dark {
    .alert-content {
      background-color: $color-monochrome-dark-grey;
      color: $white;
    }
    
    &::after {
      background-color: $color-monochrome-dark-grey;
    }
  }
}

[class*="alert-arrow-"] {
  &::after {
    content: "";
  }
}
/******** END: Alert ********/