// Button style
.btn {
  @include button($font-size-base, $border-radius-default, $button-shadow);
}

// Button options
.btn {
  // .btn-primary
  &-primary {
    color: $color-white;
    fill: $color-white;
    background: $color-primary-gradient;
    
    &:hover {
      background: $color-primary-gradient-90;
    }
  }

  // .btn-secondary
  &-secondary {
    background-color: $color-transparent-30;
    .btn-txt {
      @include color-gradient($color-primary-gradient);
    }
    
    &:hover {
      background-color: rgba($color-primary-dark, 0.05);
    }
  }

  // .btn-outline
  &-outline {
    background-color: $color-white;
    position: relative;
    background-clip: padding-box;
    border: solid 1px transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: inherit;
      background: $color-primary-gradient;
    }


    .btn-txt {
      @include color-gradient($color-primary-gradient);
    }

    // color: $color-monochrome-dark-grey;
    // background-color: $color-transparent;
    // border-color: $color-monochrome-dark-grey;
    // box-shadow: none;

    &:hover {
      background-color: $color-monochrome-aluminium;
      border-color: lighten($color-monochrome-dark-grey, 24%);
    }

    // .btn-outline-red
    &-red {
      color: $color-primary-red;
      background-color: $color-transparent;
      border-color: $color-primary-red;
      box-shadow: none;

      &:hover {
        color: $color-white;
        background-color: $color-primary-red;
      }

      &:focus {
        color: $color-white;
        background-color: $color-primary-red;
      }

    }
  }

  // .btn-link
  &-link {
    color: $color-monochrome-dark-grey;
    background-color: $color-transparent;
    box-shadow: none;
    position: relative;

    &-arrow {
      #{$ltr-global} & {
        padding-right: 0.9rem;
      }
      #{$rtl-global} & {
        padding-left: 0.9rem;
      }

      &:after {
        content: "";
        width: 12px;
        height: 12px;
        border-top: 1px solid $main-color;
        display: inline-block;
        position: absolute;
        top: 50%;

        #{$ltr-global} & {
          border-right: 1px solid $main-color;
          transform: translateY(-50%) rotate(45deg);
        }
        #{$rtl-global} & {
          border-left: 1px solid $main-color;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &:hover {
      color: $main-color;
      text-decoration: underline;
    }
    &:focus {
      color: $color-secondary-aqua-blue;
      border-color: $color-transparent !important;
      outline: none !important;
    }
    &.btn-disabled {
      color: $color-monochrome-silver;

      &:after {
        border-color: $color-monochrome-silver;
      }
      &:hover {
        cursor: not-allowed;
      }
    }

    &-active {
      border-color: $color-primary-red;
      background-color: $color-white;
      &:focus {
        border-color: $color-primary-red !important;
        color: $color-monochrome-dark-grey;
        background-color: $color-white;
      }
    }
  }

  // .btn-disabled
  &.btn-disabled {
    color: $color-monochrome-silver;
    background-color: $color-monochrome-light-grey;
    border-color: $color-monochrome-light-grey;
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      text-decoration: none;
    }
    &:focus {
      outline: none !important;
    }
  }

  &-sm {
    font-size: $font-size-base * 0.8;
    padding: $font-size-base * 0.5 $font-size-base;

    .btn-icon {
      // font-size: 1rem;
    }
    
    .svg {
      width: $font-size-base * 0.6;
      height: $font-size-base * 0.6;
    }
  }
  
  &-lg {
    font-size: $font-size-base * 1.2;
    padding: $font-size-base $font-size-base * 1.6;
    
    .btn-icon {
      // font-size: 1rem;
    }
    
    .svg {
      width: $font-size-base;
      height: $font-size-base;
    }
  }


  &-sm-fit {
    
    @include media-breakpoint-down(md) {
      // START: Desktop size
      width: 100%;
      display: block;
      // END: Desktop size
    }
  }
}