// Imports
@import '../imports/functions';


/******** START: Card Visual ********/
.card {
  &-visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &.card-reverse {
      flex-direction: column-reverse;
    }
    
    @include media-breakpoint-up(lg) {
      // START: Desktop size
      flex-direction: row;

      &.card-reverse {
        flex-direction: row-reverse;
      }
      // END: Desktop size
    }

    &-content {
      
      @include media-breakpoint-up(lg) {
        // START: Desktop size
        width: 30%;

        .visual-video & {
          width: 40%;
        }
        // END: Desktop size
      }

      @include media-breakpoint-up(lg) {
        // START: Desktop size
        // END: Desktop size
      }
    }
    
    &-img {
      .visual-video & {
        height: 240px;
      }
      
      @include media-breakpoint-up(lg) {
        // START: Desktop size
        width: 70%;
        
        .visual-video & {
          width: 60%;
          height: auto;

          .visual-video-item {
            min-height: 400px;
          }
        }
        // END: Desktop size
      }
    }
  }
}
/******** END: Card Visual ********/
