// Imports
@import "../imports/functions";
@import "../utils/utils_font";

/******** START: Checkbox with image ********/
.check-image {
  flex: 0 0 50%;
  max-width: 50%;
  flex-grow: 1;
  padding-bottom: 15px;


  // Set Spaces between 2 boxes

  &:nth-child(2n+1) {
    #{$ltr} & {
      padding-right: (15px/2);
    }

    #{$rtl} & {
      padding-left: (15px/2);
    }
  }

  &:nth-child(2n) {
    #{$ltr} & {
      padding-left: (15px/2);
    }

    #{$rtl} & {
      padding-right: (15px/2);
    }
  }

  // Input style to be invisible
  input {
    position: absolute;
    opacity: 0;
    // Set label styles
    & + label {
      position: relative;
      height: 230px;
      color: $white;
      border: 1px solid $color-monochrome-aluminium;
      border-radius: $border-radius-sm;
      padding: 15px;
      margin: 0;

      &:before {
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        background: $white;
        top: 15px;
        border-radius: 50%;

        #{$ltr} & {
          right: 15px;
        }

        #{$rtl} & {
          left: 15px;
        }
      }

      & > .check-mark {
        display: none;
      }

      // Logo container
      .checkBox-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px;

        img {
          max-width: 100%;
          max-height: 70px;
        }
      }
    }

    // If radio is checked
    &:checked {
      & + label {
        border: 1px solid $color-primary-red;
        background: darken($color-primary-red, 50%);

        &:before {
          background: $color-primary-red;
        }

        & > .check-mark {
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          z-index: 2;
          top: 20px;

          #{$ltr} & {
            right: 20px;
          }

          #{$rtl} & {
            left: 20px;
          }
        }
      }
    }
  }

}

/******** END: Checkbox with image ********/
