// Imports
@import "../imports/functions";

/******** START: Define Needed variables and mixins ********/
$nav-nested-color: rgba(255, 255, 255, 0.92);

@mixin _header_icons($dimension) {
  width: $dimension + px;
  height: $dimension + px;
}

@mixin _header_nav-chevron($deep: "") {
  #{$deep} &-chevron {
    color: $color-primary-red;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.25s linear;

    #{$ltr} & {
      right: 0;
    }

    #{$rtl} & {
      left: 0;
    }

    &.nav-chevron-direction {
      #{$rtl} & {
        transform: translateY(-50%) scaleX(-1);
        filter: flipV();
      }
    }

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      width: 10px;
      height: 10px;
      top: 52%;
      display: none;

      #{$ltr} & {
        right: 1px;
      }
      #{$rtl} & {
        left: 1px;
      }
    }
    // END: Desktop size
  }
}

@mixin nav--active-border {
  content: "";
  width: 0;
  height: 0;
  background-color: $color-primary-red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease;
}
/******** END: Define Needed variables and mixins ********/

/******** START: Header ********/
header {
  // Reset items styles to be fit nav style
  * {
    outline: none !important;

    &:focus {
      outline: none !important;
    }
  }

  ul {
    list-style: none;
  }
}
/******** END: Header ********/

/***** START: Switcher Header *****/
// .nav-switcher
//.nav {
//  &-switcher {
//    font-size: 0.8rem;
//    color: darken($color-white, 10%);
//    background-color: $color-monochrome-dark-grey;
//  }
//}
//
//.switcher {
//  &-list {
//    li {
//      display: inline-block;
//    }
//  }
//
//  &-link {
//    // Switcher button
//    color: $color-monochrome-silver;
//    padding: 4px 20px;
//    cursor: pointer;
//    transition: all 0.15s ease;
//
//    &:hover {
//      color: $color-monochrome-dark-grey;
//      background-color: $color-primary-white;
//    }
//
//    &.switcher-lang {
//      // Switcher Language button
//      min-width: 200px;
//
//      &:hover {
//        color: $color-monochrome-silver;
//        background-color: darken($color-monochrome-dark-grey, 4%);
//      }
//    }
//  }
//
//  &-active {
//    .switcher-link {
//      color: $color-monochrome-dark-grey;
//      background-color: $color-primary-white;
//    }
//  }
//}

/***** END: Switcher Header *****/

/***** START: Main Header *****/

// .nav-header
.nav {
  &-header {
    background-color: $color-white;
    font-size: 1.5rem;
    line-height: 1;
    position: relative;
    top: 0;
    z-index: 3;

    @include media-breakpoint-down(md) {

    }

    .nav-offers-icon {
      @include media-breakpoint-down(md) {
        order: 1;
      }
    }

    .nav-logo-and-menu {
      @include media-breakpoint-down(md) {
        order: 3;
      }
    }

    .nav-user-icon {
      position: relative;
      @include media-breakpoint-down(md) {
        order: 2;
      }
    }

    .nav-search-icon {
      @include media-breakpoint-down(md) {
        order: 4;
      }
    }

    .nav-icon-menu {
      @include media-breakpoint-down(md) {
        order: 5;
      }
    }

    &.nav-fixed {
      width: 100%;
      position: fixed;
      top: 0;
    }

    &.nav-opened {
      overflow-x: visible;

      .nav-list-items {
        transform: translateX(0);
        opacity: 1;
      }

      .nav-list-items {
        transition: all 0.2s ease-in-out;
      }
    }

    label {
      margin: 0;
    }

    @include media-breakpoint-up(md) {
      // START: Tablet size
      font-size: 1.25rem;
      // END: Tablet size
    }

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      @include font-light;
      font-size: 1.34rem;
      overflow: visible;
      // END: Desktop size
    }
  }

  &-link {
    .nav-header & {
      height: 50px;
      padding: 13px 7px;

      &:hover {
        cursor: pointer;
      }

      &-svg {
        // Project conditions
        @if $project-path == $path-ng {
          #{$ng-deep} & {
            @include _header_icons(24);
          }
        } @else if $project-path == $path-static {
          @include _header_icons(24);
        }
      }

      &.nav-logo {
        #{$ltr} & {
          padding: 11px 7px 11px 0;
        }

        #{$rtl} & {
          padding: 11px 0 11px 7px;
        }

        .nav-logo-item {
          // Project conditions
          @if $project-path == $path-ng {
            #{$ng-deep} & {
              @include _header_icons(28);
            }
          } @else if $project-path == $path-static {
            @include _header_icons(28);
          }
        }
      }

      &.nav-big {
        padding: 10px 4px;

        .avatar-item {
          width: 30px;
          height: 30px;
        }
      }

      li:first-child & {
        #{$ltr} & {
          padding-left: 0;
        }

        #{$rtl} & {
          padding-right: 0;
        }
      }

      li:last-child & {
        #{$ltr} & {
          padding-right: 0;
        }

        #{$rtl} & {
          padding-left: 0;
        }
      }

      @include media-breakpoint-up(md) {
        // START: Tablet size
        height: 56px;
        padding: 13px 12px;

        &-svg {
          // Project conditions
          @if $project-path == $path-ng {
            #{$ng-deep} & {
              @include _header_icons(30);
            }
          } @else if $project-path == $path-static {
            @include _header_icons(30);
          }
        }

        &.nav-logo {
          #{$ltr} & {
            padding: 10px 12px 10px 0;
          }

          #{$rtl} & {
            padding: 10px 0 10px 12px;
          }

          .nav-logo-item {
            @if $project-path == $path-ng {
              #{$ng-deep} & {
                @include _header_icons(36);
              }
            } @else if $project-path == $path-static {
              @include _header_icons(36);
            }
          }
        }

        &.nav-big {
          padding: 11px 10px;

          .avatar-item {
            width: 34px;
            height: 34px;
          }
        }
      }
      // END: Tablet size

      @include media-breakpoint-up(lg) {
        // START: Desktop size
        height: auto;
        padding: 17px 16px;

        &-svg {
          @if $project-path == $path-ng {
            #{$ng-deep} & {
              @include _header_icons(34);
            }
          } @else if $project-path == $path-static {
            @include _header_icons(34);
          }
        }

        &.nav-logo {
          float: left;

          #{$ltr} & {
            padding: 13px 10px 13px 0;
          }

          #{$rtl} & {
            padding: 13px 0 13px 10px;
          }

          .nav-logo-item {
            @if $project-path == $path-ng {
              #{$ng-deep} & {
                @include _header_icons(42);
              }
            } @else if $project-path == $path-static {
              @include _header_icons(42);
            }
          }
        }

        &.nav-big {
          padding: 14px 13px;

          .avatar-item {
            width: 40px;
            height: 40px;
          }
        }

        li:nth-last-child(2) & {
          #{$ltr} & {
            padding-right: 0;
          }

          #{$rtl} & {
            padding-left: 0;
          }
        }
      }
      // END: Desktop size
    }
  }

  &-close {
    color: $color-white;
    background-color: $color-primary-red;
    border-radius: $border-radius-default;
    padding: 15px;
    position: relative;
    display: none;

    & > * {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(md) {
      // START: Tablet size
      padding: 17px;

      & > * {
        width: 20px;
        height: 20px;
      }
    }
    // END: Tablet size

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      padding: 20px;

      & > * {
        width: 24px;
        height: 24px;
      }
    }
    // END: Desktop size
  }

  &-lang {
    font-size: 0.96rem;
  }

  &-list {
    & > li {
      display: inline-block;

      &:last-child {
        .nav-link {
          #{$ltr} & {
            padding-right: 0;
          }

          #{$rtl} & {
            padding-left: 0;
          }
        }
      }

      .nav-link {
        &:after {
          @include nav--active-border;
        }
      }

      &.active {
        .nav-link {
          &:after {
            width: 100%;
            height: 3px;
            opacity: 1;
          }
        }
      }

      @include media-breakpoint-up(sm) {
        // START: Mobile (Landscape) size
        position: relative;
      }
      // END: Mobile (Landscape) size
    }

    .nav-step-three {
      width: 80%;
      padding: 1rem;
      position: fixed;
      top: 50px;
      bottom: 0;
      background-color: $nav-nested-color;
      display: none;
      opacity: 0;

      #{$ltr} & {
        right: 0;
      }

      #{$rtl} & {
        left: 0;
      }
    }

    [type="checkbox"] {
      &:checked {
        & ~ .nav-step-three {
          display: block;
          opacity: 1;
        }

        & ~ label {
          .avatar-item {
            display: none;
          }

          .nav-close {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    &-items {
      width: 80%;
      height: calc(100vh - 50px);
      background-color: rgba(255, 255, 255, 0.96);
      @include box-shadow(-3px, 5px, 10px, rgba(0, 0, 0, 0.1));
      position: absolute;
      top: 50px;
      z-index: 4;
      overflow-y: auto !important;
      // opacity: 0;
      // transition: all 0.2s ease-in-out;

      #{$ltr} & {
        padding: 1rem 1.5rem 1rem 1rem;
        right: 0;
        transform: translateX(100%);
      }

      #{$rtl} & {
        padding: 1rem 1rem 1rem 1.5rem;
        left: 0;
        transform: translateX(-100%);
      }
    }

    @include media-breakpoint-up(md) {
      // START: Tablet size
      .nav-step-three {
        width: 350px;
        top: 56px;
      }

      &-items {
        width: 350px;
        top: 56px;
      }
    }
    // END: Tablet size

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      .nav-step-three {
        width: 260px;
        padding: 0;
        position: absolute;
        top: 68px;
        bottom: auto;

        .nav-item-link {
          padding: 1.25rem 1.5rem !important;
        }
      }

      &-items {
        height: auto;
        position: static;
        @include box-shadow(0, 0, 0, 0);
        width: auto;
        overflow: visible !important;

        #{$ltr} & {
          transform: none;
        }

        #{$rtl} & {
          transform: none;
        }

        li {
          display: inline-block;
          vertical-align: middle;

          &:hover {
            & > .nav-item-link {
              color: $color-primary-red;
              background-color: rgba(255, 255, 255, 0.75);

              &:after {
                opacity: 1;
                height: 3px;
                width: 100%;
              }

              .nav-chevron {
                fill: $color-primary-red;
                transform: translateY(-52%) scaleY(-1);
                filter: fliph();
              }
            }

            & .nav-step-two {
              height: 68px;

              ul {
                display: block;
              }
            }
          }
        }
      }
    }
    // END: Desktop size

    .nav-user-list {
      @include media-breakpoint-up(lg) {
        // START: Desktop size
        margin-bottom: 0.25rem;
      }
      // END: Desktop size
    }
  }

  &-item-link {
    display: block;
    position: relative;
    padding: 0 0.5rem;

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      cursor: pointer;
      padding: 24px 20px 23px 20px !important;
      transition: all 0.25s linear;

      .nav-step-one > li > &:after {
        @include nav--active-border;
      }
    }
    // END: Desktop size
  }

  // Project condition
  @if $project-path == $path-ng {
    @include _header_nav-chevron($ng-deep);
  } @else if $project-path == $path-static {
    @include _header_nav-chevron();
  }

  &-flag {
    // Checkbox
    position: absolute;
    right: 0;
    top: 0;
    display: none;

    & ~ [class*="nav-step"] ul {
      transition: all 0.35s ease;
      max-height: 0;
      opacity: 0;

      .nav-step-one & {
        #{$ltr} & {
          padding: 0 0 0 0.5rem;
        }

        #{$rtl} & {
          padding: 0 0.5rem 0 0;
        }
      }

      .nav-step-two & {
        #{$ltr} & {
          padding: 0 0 0 0.8rem;
        }

        #{$rtl} & {
          padding: 0 0.8rem 0 0;
        }
      }
    }

    &:checked {
      .nav-step-one & {
        & ~ [class*="nav-step"] > ul {
          #{$ltr} & {
            padding: 0.8rem 0 0 0.5rem;
          }

          #{$rtl} & {
            padding: 0.8rem 0.5rem 0 0;
          }
        }
      }

      .nav-step-two & {
        & ~ [class*="nav-step"] > ul {
          #{$ltr} & {
            padding: 0.8rem 0 0 0.8rem;
          }

          #{$rtl} & {
            padding: 0.8rem 0.8rem 0 0;
          }
        }
      }

      & ~ [class*="nav-step"] > ul {
        max-height: 100vh;
        opacity: 1;
      }

      & ~ .nav-item-link {
        .nav-chevron {
          transform: translateY(-50%) scaleY(-1);
          filter: fliph();
        }
      }
    }

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      & ~ [class*="nav-step"] ul {
        max-height: none;
        opacity: 1;
      }

      &:checked {
        & ~ [class*="nav-step"] ul {
          max-height: none;
        }

        & ~ .nav-item-link {
          .nav-chevron {
            transform: translateY(-50%);
          }
        }
      }
    }
    // END: Desktop size
  }

  &-step-one {
    @include media-breakpoint-up(lg) {
      // START: Desktop size
      // overflow: hidden !important;
    }
    // END: Desktop size
  }

  &-step-two {
    @include media-breakpoint-up(lg) {
      // START: Desktop size
      height: 0;
      margin: 0 auto;
      padding: 0;
      background-color: rgba(255, 255, 255, 0.9);
      position: absolute;
      left: 0;
      right: 0;
      top: 68px;
      z-index: 3;
      transition: all 0.2s ease-out;

      & > ul {
        max-width: 960px;
        max-width: calc(960px - 130px);
        margin: auto;
        display: none;

        & > li {
          position: relative;

          &:hover {
            .nav-step-three {
              max-height: 100vh;
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
    // END: Desktop size

    @include media-breakpoint-up(xl) {
      // START: Large Desktop size
      & > ul {
        max-width: calc(1140px - 130px);
      }
    }
    // END: Large Desktop size
  }

  &-step-three {
    text-transform: capitalize;

    @include media-breakpoint-up(lg) {
      // START: Desktop size
      display: none;
      min-width: 180%;
      background: $nav-nested-color;
      border-bottom-left-radius: $card-border-radius * 2;
      border-bottom-right-radius: $card-border-radius * 2;
      position: absolute;
      top: 68px;
      // z-index: -6;
      z-index: 4;
      opacity: 0;
      overflow: hidden !important;
      transition: all 1.3s ease;

      & > ul {
        padding: 0 !important;

        li {
          display: block;
        }
      }
      .nav-item-link {
        padding: 1.25rem !important;
      }
      .nav-chevron {
        display: none;
      }
    }
    // END: Desktop size
  }

  &-startup {
    $startup-space: 0.75rem;

    width: 50%;
    background-color: $nav-nested-color;
    text-align: center;
    padding: $startup-space;
    position: absolute;
    @extend .nav-radius-down;


    opacity: 0;
    display: none;

    #{$ltr} & {
      right: 0;
    }

    #{$rtl} & {
      left: 0;
    }

    @include media-breakpoint-down(sm) {
      // START: Mobile (Landscape) size
      #{$ltr} & {
        border-bottom-left-radius: $card-border-radius * 2;
      }
      #{$rtl} & {
        border-bottom-right-radius: $card-border-radius * 2;
      }
      // END: Mobile (Landscape) size
    }

    @include media-breakpoint-up(sm) {
      // START: Mobile (Landscape) size
      width: 180px;
    }
    // END: Mobile (Landscape) size

    @include media-breakpoint-up(md) {
      // START: Tablet size
      width: 210px;
    }
    // END: Tablet size

    @include media-breakpoint-up(lg) {
      // START: Desktop size
    }
    // END: Desktop size

    &-list {
      li {
        &:not(:last-child) {
          margin-bottom: $startup-space;
        }
      }
    }

    .btn {
      margin: 0;
    }

    .active & {
      opacity: 1;
      display: block;
    }
  }
}

[class*="nav-step"] {
  overflow: hidden;

  .nav-item-link {
    #{$ltr} & {
      padding: 1.25rem 0 1.25rem 0.5rem;
    }

    #{$rtl} & {
      padding: 1.25rem 0.5rem 1.25rem 0;
    }
  }

  li {
    &:first-child {
      & > .nav-item-link {
        padding-top: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    // START: Desktop size
    overflow: visible;
  }
  // END: Desktop size
}

.header-wrapper {
  @include media-breakpoint-up(lg) {
    // START: Desktop size
    display: flex;

    .nav-list-items {
      flex: 1 1 auto !important;
      padding: 0;
    }
  }
  // END: Desktop size
}

@include media-breakpoint-up(lg) {
  // START: Desktop size
  .nav-item-link,
  .nav-link {
    &:hover {
      color: $color-primary-red;
      fill: $color-primary-red;
    }
  }
}

// END: Desktop size
/***** END: Main Header *****/

/******** END: Header ********/
.nav-radius-down {
  @include media-breakpoint-up(sm) {
    // START: Mobile (Landscape) size
    #{$ltr} & {
      border-bottom-left-radius: $card-border-radius * 2;
      border-bottom-right-radius: $card-border-radius * 2;
    }
    #{$rtl} & {
      border-bottom-right-radius: $card-border-radius * 2;
      border-bottom-left-radius: $card-border-radius * 2;
    }
  }
  // END: Mobile (Landscape) size
}
