@import "../variables/vars_colors";
@import "../variables/vars_lang_dir";

.modal-open {
  // Kill the scroll on the body
  overflow: hidden;

  /******** START: Modal ********/
  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;

    .modal-dialog {
      width: 100%;
      height: 100%;

      @include media-breakpoint-up(md) {
        width: auto;
      }
      .modal-content {
        height: 100%;
        @include media-breakpoint-up(md) {
          height: auto;
        }
      }
    }

    //Opened Overlay Header Styles
    .overlay-header {
      margin-top: 0;
      transition: all 0.5s ease-in-out;
      transition-delay: 0.7s;
    }

    //Opened Overlay Body Styles
    .overlay-body {
      margin-top: 0;
      transition: all 0.3s ease-in-out;
      transition-delay: 0.7s;
    }
  }
}

.modal {
  &:not([class*="yui3"]) {
    display: none;
  }
}

// Overlay
.overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  @include media-breakpoint-up(md){
    justify-content: center;
  }

  //Overlay Header
  .overlay-header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: 100%;
    text-align: center;

    //Close Icon
    .icon-close {
      cursor: pointer;
      background: $color-white;
      width: 55px;
      height: 55px;
      padding: 10px;
      margin-bottom: 2rem;

      border-radius: 50%;
      #{$ltr-global} & {
        right: 0;
      }

      #{$rtl-global} & {
        left: 0;
      }
    }
  }

  //Overlay body
  .overlay-body {
    background: $color-white;
    width: 100%;
    margin-top: 1000px;
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    overflow-y: auto;

    @include media-breakpoint-up(md) {
      height: auto;
      border-radius: 10px;
      margin-bottom: 30px;

      &.overlay-sm {
        max-width: 500px;
      }
      &.overlay-md {
        max-width: 700px;
      }
    }
    .overlay-slider-container {
      overflow: hidden;
      display: block;
    }
  }
}
