// Imports
@import "../imports/functions";

/******** START: Popover ********/
#{$ng-deep} .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex-popover;
  display: block;
  max-width: $popover-max-width;
  word-wrap: break-word;
  background-color: $popover-bg;
  background-clip: padding-box;
  border: $popover-border-width solid $popover-border-color;
  @include border-radius($popover-border-radius);
  background-color: $color-monochrome-light-grey;
  color: $color-black;
  border-color: $color-monochrome-aluminium;
  font-size: 0.8rem;
  border-radius: 6px;
  .arrow {
    position: absolute;
    display: block;
    width: $popover-arrow-width;
    height: $popover-arrow-height;
    margin: 0 $border-radius-lg;
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

#{$ng-deep} .bs-popover-bottom {
  margin-top: $popover-arrow-height;

  > .arrow {
    top: calc((#{$popover-arrow-height} + #{$popover-border-width}) * -1);

    &::before {
      top: 0;
      border-width: 0 ($popover-arrow-width / 2) $popover-arrow-height
        ($popover-arrow-width / 2);
      border-bottom-color: $popover-arrow-outer-color;
    }

    &::after {
      top: $popover-border-width;
      border-width: 0 ($popover-arrow-width / 2) $popover-arrow-height
        ($popover-arrow-width / 2);
      border-bottom-color: $popover-arrow-color;
      border-bottom-color: $color-monochrome-light-grey;
    }
  }
}

#{$ng-deep} .popover-body {
  padding: $popover-body-padding-y $popover-body-padding-x;
  color: $popover-body-color;
}

#{$ng-deep} .popover-icon {
  .popover-body {
    &::before {
      content: "!";
      width: 24px;
      height: 24px;
      background: $color-secondary-fresh-orange;
      border-radius: 50px;
      display: inline-block;
      color: $white;
      text-align: center;
      line-height: 24px;
      #{$ltr} & {
        margin-right: 10px;
      }
      #{$rtl} & {
        margin-left: 10px;
      }
    }
  }
}

#{$ng-deep} .popover.dark {
  background: $white;
  & > .arrow:after {
    border-bottom-color: $white;
  }
}
#{$ng-deep} .popover.bg-dark {
  background: $color-monochrome-dark-grey;
  border-color: $color-monochrome-dark-grey;
  .popover-body {
    color: $white;
  }
  & > .arrow:after {
    border-bottom-color: $color-monochrome-dark-grey;
  }
}
/******** END: Popover ********/
