// Imports
@import "../imports/functions";

/******** START: Popup TOBI ********/
.popup-tobi {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 1.5rem;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  #{$ltr} & {
    right: 1.5rem;
  }

  #{$rtl} & {
    left: 1.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  @include media-breakpoint-up(lg) {
    // START: Desktop size
    width: 76px;
    height: 76px;
    bottom: 2rem;

    #{$ltr} & {
      right: 5rem;
    }

    #{$rtl} & {
      left: 5rem;
    }
    // END: Desktop size
  }
}
/******** END: Popup TOBI ********/
