// Imports
@import "../imports/functions";

/******** START: Privacy Settings ********/
.card-footer-fixed-mob {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 1rem;
  background: $color-white;
  z-index: 4;
  @include media-breakpoint-up(lg) {
    position: initial;
    padding: 0;
  }
}
/******** END: Privacy Settings ********/
