// Imports
@import "../imports/functions";

/******** START: Progressbar ********/

// Disable animation if transitions are disabled
@if $enable-transitions {
  @keyframes progress-bar-stripes {
    from {
      background-position: $progress-height 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

.progress {
  display: flex;
  height: $progress-height / 2.4;
  overflow: hidden; // force rounded corners by cropping it
  @include font-size($progress-font-size);
  background-color: $progress-bg;
  border-radius: $progressbar-radius;
  // @include border-radius($progress-border-radius);
  // @include box-shadow($progress-box-shadow);

  @include media-breakpoint-up(md) {
    // START: Tablet size
    height: $progress-height / 2;
  }
  // END: Tablet size
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $progress-bar-color;
  text-align: center;
  white-space: nowrap;
  border-radius: $progressbar-radius;
  background-color: $color-primary-red;
  @include transition($progress-bar-transition);
  
  .secondary & {
    background-color: $color-monochrome-anthracite;
  }
  
  .success & {
    background-color: $color-digital-green;
  }
  
  .warning & {
    background-color: $color-secondary-yellow-warning;
  }
}

.progress-bar-striped {
  @include gradient-striped();
  background-size: $progress-height $progress-height;
}

@if $enable-transitions {
  .progress-bar-animated {
    animation: progress-bar-stripes $progress-bar-animation-timing;

    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}
/******** END: Progressbar ********/
