@import "../imports/functions";

$widget-width: 200px;

// START: Scrollable widgets
.widget {
  display: inline-flex;

  #{$ltr} & {
    margin-right: $grid-gutter-width/2;
  }

  #{$rtl} & {
    margin-left: $grid-gutter-width/2;
  }

  & > * {
    height: auto;
  }


  &-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  &-single {
    width: $widget-width;
    min-height: ($widget-width * 2) + ($grid-gutter-width/2);
  }

  &-double {
    flex-direction: column;

    & > * {
      max-width: 200px;
      height: 200px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-trible {
    width: ($widget-width * 2) + ($grid-gutter-width/2);
    flex-wrap: wrap;

    & > * {
      width: 200px;
      height: 200px;
      margin-bottom: 0px;


      #{$ltr} & {
        margin-right: $grid-gutter-width/2;
      }

      #{$rtl} & {
        margin-left: $grid-gutter-width/2;
      }

      &:first-child {
        width: 100%;
        margin-bottom: $grid-gutter-width/2;
        flex-grow: 1;

        #{$ltr} & {
          margin-right: 0;
        }

        #{$rtl} & {
          margin-left: 0;
        }
      }

      &:last-child {
        #{$ltr} & {
          margin-right: 0;
        }

        #{$rtl} & {
          margin-left: 0;
        }
      }
    }

    &-reverce {
      width: ($widget-width * 2) + ($grid-gutter-width/2);
      flex-wrap: wrap;

      & > * {
        width: 200px;
        height: 200px;
        margin-bottom: 0px;


        #{$ltr} & {
          margin-right: $grid-gutter-width/2;
        }

        #{$rtl} & {
          margin-left: $grid-gutter-width/2;
        }

        &:last-child {
          width: 100%;
          margin-top: $grid-gutter-width/2;
          flex-grow: 1;

          #{$ltr} & {
            margin-right: 0;
          }

          #{$rtl} & {
            margin-left: 0;
          }
        }

        &:nth-child(2) {
          #{$ltr} & {
            margin-right: 0;
          }

          #{$rtl} & {
            margin-left: 0;
          }
        }
      }

    }
  }
}

// END: Scrollable widgets
