// Imports
@import "../imports/functions";
@import "../utils/utils_font";

/******** START: Search Result ********/
.search-result {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 30px 0;

  .section:last-child {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  @include media-breakpoint-up(lg) {
    // START: Desktop size
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-top: 30px;
    padding-bottom: 0;

    #{$ltr} & {
      padding-right: $grid-gutter-width;
    }

    #{$rtl} & {
      padding-left: $grid-gutter-width;
    }
    // END: Desktop size
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
  }

  // @include media-breakpoint-down(lg) {
  //   // START: Below Desktop size
  //   padding: 30px 0;
  //   padding-top: 0;
  //   // END: Below Desktop size
  // }
}

/******** END: Search Result ********/

/******** START: Scrollbar ********/
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-monochrome-aluminium;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-monochrome-silver;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-monochrome-silver;
}

/******** END: Scrollbar ********/
