// Imports
@import "../imports/functions";
@import "./dropdown";

/******** START: Tabs ********/

// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  font-size: 1.25rem;
  // text-transform: capitalize;

  #{$ltr-global} & {
    padding-left: 0;
  }
  #{$rtl-global} & {
    padding-right: 0;
  }

  &-start {
    justify-content: flex-start;
  }

  .nav-horizontal > & {
    @include media-breakpoint-down(md) {
      // START: To Tablet size
      display: table;
      margin: 0 10px;
      width: 100%;
      text-align: center;
      overflow-x: auto;
      // END: To Tablet size
    }
  }
}

.nav-item {
  .nav-horizontal > .nav > & {
    @include media-breakpoint-down(md) {
      // START: To Tablet size
      display: table-cell;

      .nav-link {
        white-space: nowrap;
      }
      // END: To Tablet size
    }
  }

  .nav-link {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x * 1.25;

    @include hover-focus {
      text-decoration: none;
    }

    // Disabled state lightens text
    &.disabled {
      color: $nav-link-disabled-color;
      pointer-events: none;
      cursor: default;
    }

    &-icon {
      width: 50px;
      height: 50px;
      display: block;
      margin: auto;
      background-color: $color-monochrome-light-grey;
      padding: 10px;
      border-radius: 50%;
      position: relative;
      transition: all 0.2s;
    }

    //&-txt {
    // display: inline-block;
    //}

    .nav-circle & {
      [ng-reflect-ng-transclude] {
        display: inline;
      }
    }
  }
}

.active .nav-link-icon {
  background-color: $color-primary-red;
}

.nav-icon-item {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//
// Tabs
//

.nav-tabs {
  align-items: flex-end;
  border-bottom: $toast-border-width solid $gray-300;

  &-management {
    font-size: 1rem;
    justify-content: space-around;
    background: $color-white;
    border: 0;
  }

  .nav-item {
    &:not(:first-child):not(:last-child) {
      padding: 0 $nav-link-padding-x;
    }
  }

  .nav-link {
    padding-left: $nav-link-padding-x / 2;
    padding-right: $nav-link-padding-x / 2;
    border-bottom: 3px solid $color-transparent;
    transition: all 0.2s;

    @include hover-focus {
      color: $color-primary-red;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $color-primary-red;
    border-color: $color-primary-red;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

//
// Pills
//
// :root {
//   --color: red;
// }
.nav-pills {
  padding: 0 0 1.5rem 0 !important;

  // @include media-breakpoint-down(md) {
  //   display: none !important;
  // }

  .nav-link {
    color: lighten($color-primary-grey, 20%);
    background-color: $color-transparent;
    border: 1px solid lighten($color-primary-grey, 20%);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $color-white;
    background-color: $color-primary-red;
    border-color: $color-primary-red;
  }

  .nav-item {
    &:first-child {
      .nav-link {
        #{$ltr-global} & {
          border-top-left-radius: $nav-pills-border-radius;
          border-bottom-left-radius: $nav-pills-border-radius;
        }
        #{$rtl-global} & {
          border-top-right-radius: $nav-pills-border-radius;
          border-bottom-right-radius: $nav-pills-border-radius;
        }
      }
    }

    &:last-child {
      .nav-link {
        #{$ltr-global} & {
          border-top-right-radius: $nav-pills-border-radius;
          border-bottom-right-radius: $nav-pills-border-radius;
        }
        #{$rtl-global} & {
          border-top-left-radius: $nav-pills-border-radius;
          border-bottom-left-radius: $nav-pills-border-radius;
        }
      }
    }

    &:not(:last-child) {
      .nav-link {
        #{$ltr-global} & {
          border-right: none;
        }
        #{$rtl-global} & {
          border-left: none;
        }
      }
    }
  }
  // @include media-breakpoint-up(md) {
  //   display: flex;
  // }
}

//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab {
  &-content {
    > .tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }

  &-lead {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: $body-size-2x;
    margin: 1rem 0 0;

    @include media-breakpoint-up(md) {
      // START: Tablet size
      display: block;
    } // END: Tablet size
  }
}
/******** END: Tabs ********/

.nav-horizontal {
  @include media-breakpoint-down(md) {
    // START: To Tablet size
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    // END: To Tablet size
  }
}

.nav-icons {
  padding: 0 0 1.5rem 0 !important;
  .tab-content .nav-horizontal & {
    margin: 0;
  }

  .nav-item {
    .nav-link {
      margin: 0 6px;
    }

    &:first-child {
      .nav-link {
        #{$ltr-global} & {
          margin-left: 2px;
        }
        #{$rtl-global} & {
          margin-right: 2px;
        }
      }
    }

    &:last-child {
      .nav-link {
        #{$ltr-global} & {
          margin-right: 2px;
        }
        #{$rtl-global} & {
          margin-left: 2px;
        }
      }
    }
  }

  .nav-link {
    min-width: 80px;
    padding: 0.25rem 1.25rem;
    border: 2px solid $color-transparent;
    border-radius: $btn-border-radius;
    text-align: center;
    box-shadow: 0 0 6px rgba($black, .175);
    
    @include media-breakpoint-up(md) {
      // START: Tablet size
      min-width: 130px;
      // END: Tablet size
    }
  }

  .tab-link-icon {
    max-height: 38px;
  }

  
  .nav-link.active,
  .show > .nav-link {
    border-color: $color-primary-red;
  }

  .nav-item {
    margin: 0 5px;
  }
}


/******** Dropdown in mobile ********/
.btn-group {
  margin: 30px 0;
  .dropdown-toggle {
    height: 45px;
    border-color: lighten($color-monochrome-anthracite, 15%);
    line-height: 1;

    #{$ltr} & {
      padding: 0.75rem 0 0.75rem 1rem;
    }
    #{$rtl} & {
      padding: 0.75rem 1rem 0.75rem 0;
    }
  }
  .icon-down-arrow {
    #{$rtl-global} & {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-right: 1px solid $color-monochrome-mid-grey;
      left: 0;
    }

    #{$ltr-global} & {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left: 1px solid $color-monochrome-mid-grey;
      right: 0;
    }
  }
}
