// Imports
@import '../../../../scss/imports/functions';

/******** START: Header ********/
.header {
	background-color: $color-white;
	box-shadow: 0 0.5rem 1rem rgba($color-black, 15%);
	position: sticky;
	top: 0;
	z-index: 2;
	
	@include media-breakpoint-up(md) {
		background: none;
		position: unset;
		box-shadow: none;
	}

	&-wrapper {
		background-color: $color-white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 0;
		
		@include media-breakpoint-up(md) {
			box-shadow: 0 0.5rem 1rem rgba($color-black, 15%);
			padding: 1.5rem;
		}
	}

	.brand-img {
		width: 120px;
	}
}
/******** END: Header ********/