<!--------- START: Header --------->
<div class="container my-4">
	<div class="row">
		<div class="col">
			<header class="header radius-2x shadow">
				<div>
					<a href="">
						<img src="assets/images/brand-logo.png" class="brand-img" alt="brand logo">
					</a>
				</div>
				
				<div>
					<button class="btn btn-primary-reverse shadow-none mb-0">
						<span class="btn-txt">عربي</span>
					</button>
					<button class="btn btn-secondary m-start-2 mb-0">
						<span class="btn-txt">Discover</span>
					</button>
					<button class="btn btn-primary m-start-2 mb-0">
						<span class="btn-txt">Join now</span>
					</button>
				</div>
			</header>
		</div>
	</div>
</div>
<!--------- END: Header --------->