// Imports
@import '../../../../scss/imports/functions';

/******** START: Header ********/
.header {
	background-color: $color-white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;

	.brand-img {
		width: 130px;
	}
}
/******** END: Header ********/