// Colors

.color {
  @each $color in $uxplor-colors {
    &-#{ "" + nth($color, 1) } {
      color: nth($color, 2);
    }
  }

  &-primary-gradient {
    background: $color-primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}