%smooth-scroll {
  -webkit-overflow-scrolling: touch;
}

// Horizontal Scroll
.horizontal-scroll {
  @extend %smooth-scroll;

  /* Not touchscreens */
  @media (any-hover: hover) {
    @include scroll-bar(
      0.5rem,
      inset 0 0 3px rgba(0, 0, 0, 0.3),
      $color-monochrome-dark-grey
    );
  }

  @include remove-scroll-bar();

  .d-table-cell {
    width: auto;
  }

  /* Smartphones, Touchscreens */
  @media (hover: none) and (pointer: coarse) {
  }

  @include media-breakpoint-down(md) {
    // START: To Tablet size
    overflow-x: auto;
    overflow-y: hidden;
  } // END: To Tablet size

  &-flex {
    text-align: center;
    overflow-x: auto;
  
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

// Horizontal Scroll-all
.horizontal-scroll-all {
  @extend %smooth-scroll;
  overflow-x: auto;
  overflow-y: hidden;

  /* Not touchscreens */
  @media (any-hover: hover) {
    @include scroll-bar(
      0.5rem,
      inset 0 0 3px rgba(0, 0, 0, 0.3),
      $color-monochrome-dark-grey
    );
  }

  &-flex {
    text-align: center;
    overflow-x: auto;
  
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.table-horizontal {
  display: table;
  margin: 0 -10px;
}
.table-cell {
  display: table-cell;
  width: auto;
  vertical-align: top;
}

.table {
  &-md {
    @include media-breakpoint-down(md) {
      // START: To Tablet size
      display: table;
      margin: 0 -10px;
    } // END: To Tablet size
  }

  &-cell-md {
    @include media-breakpoint-down(md) {
      // START: To Tablet size
      display: table-cell;
      width: auto;
      vertical-align: top;
    } // END: To Tablet size
  }

  &-sm {
    @include media-breakpoint-down(sm) {
      // START: To Tablet size
      display: table;
      margin: 0 -10px;
    } // END: To Tablet size
  }

  &-cell-sm {
    @include media-breakpoint-down(sm) {
      // START: To Tablet size
      display: table-cell;
      width: auto;
      vertical-align: top;
    } // END: To Tablet size
  }
}

.horizontal-item {
  width: 120px;
}

.container-scrollable {
  @extend %smooth-scroll;
  overflow-x: auto;
  overflow-y: hidden;
  @include media-breakpoint-down(md) {
    padding: 0 1rem;
  }

  &:hover {
    @include scroll-bar(
      0.5rem,
      inset 0 0 3px rgba(0, 0, 0, 0.3),
      lighten($color-monochrome-mid-grey, 20%)
    );
  }

  /* Not touchscreens */
  @media (any-hover: hover) {
    @include scroll-bar(0.5rem, none, $color-transparent);
  }

  // Container padding handling
  @each $container in map-keys($container-max-widths) {
    @include media-breakpoint-up(#{$container}) {
      //  LTR
      #{$ltr-global} & {
        padding-left: calc(
          ((100% - #{map-get($container-max-widths, #{$container})}) / 2) +
            10px
        );
      }

      //  RTL
      #{$rtl-global} & {
        padding-right: calc(
          ((100% - #{map-get($container-max-widths, #{$container})}) / 2) +
            10px
        );
      }
    }
  }

  .d-table-cell {
    width: auto;
    vertical-align: top;
  }

  .tile-width {
    width: 250px;

    @include media-breakpoint-up(lg) {
      // START: Tablet size
      width: 350px;
    } // END: Tablet size
  }

  .card-product-width {
    width: 150px;

    @include media-breakpoint-up(lg) {
      // START: Tablet size
      width: 160px;
    } // END: Tablet size
  }
}