// Set cursor clasess
.cursor {
  &-pointer {
    cursor: pointer;
  }
  &-help {
    cursor: help;
  }
  &-not-allowed {
    cursor: not-allowed;
  }
  &-default {
    cursor: default !important;
  }
}
