<app-header></app-header>
<app-banner></app-banner>

<section class="section-md bg-white">
	<app-about-petman></app-about-petman>
</section>

<section class="section-md bg-primary-transparent">
	<app-scrollable-cards></app-scrollable-cards>
</section>

<section class="section-md bg-white">
	<app-customer-feedback></app-customer-feedback>
</section>

<section class="section-md bg-primary-transparent">
	<app-gallary></app-gallary>
</section>

<section class="section-md bg-white">
	<app-brands></app-brands>
</section>