<app-header></app-header>
<app-banner></app-banner>

<app-about-petman></app-about-petman>

<section class="section bg-aluminium">
    <div class="container position-relative">
        <app-card-action [cardStyle]="'card-style-start'" [cardSize]="'card-sm'">
        </app-card-action>
    </div>
</section>

<section class="feedback">
    <app-customer-feedback></app-customer-feedback>
</section>
<section class="gallay">
    <app-gallary></app-gallary>
</section>
<section class="brands">
    <app-brands></app-brands>
</section>