<app-header></app-header>
<app-banner></app-banner>

<app-about-petman></app-about-petman>

<section class="section bg-primary-transparent">
	<div class="container position-relative">
		<app-card-action [cardStyle]="'card-style-start'" [cardSize]="'card-sm'">
		</app-card-action>
	</div>
</section>

<section class="section-md bg-white">
	<app-customer-feedback></app-customer-feedback>
</section>

<section class="section-md bg-primary-transparent">
	<app-gallary></app-gallary>
</section>

<section class="section-md bg-white">
	<app-brands></app-brands>
</section>