<!--------- START: Sub Header --------->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center mt-2 py-3">
        <button class="btn-back icon-5">
          <i class="fa fa-angle-left"></i>
        </button>
        <div class="petman m-auto">
          <p class="h5 font-bold d-inline-flex align-items-center mb-0">@{{brandName}}
            <span class="bg-primary-gradient small  m-start-1">
              <i class="fa fa-check color-white"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------- END: Sub Header --------->