<!--------- START: Tabs Bar --------->
<div class="tabs-bar shadow d-md-none">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <div class="item">
          <i class="item-icon fa fa-home small-3x"></i>
          <h5 class="item-name mb-0">Today</h5>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <i class="item-icon fa fa-search small-3x"></i>
          <h5 class="item-name mb-0">discover</h5>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <i class="item-icon fa fa-star-o small-3x"></i>
          <h5 class="item-name mb-0">offers</h5>
        </div>
      </div>
      <div class="col">
        <div class="item">
          <i class="item-icon fa fa-user-o small-3x"></i>
          <h5 class="item-name mb-0">account</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------- END: Tabs Bar --------->





<!--------- START: SVGs --------->
<svg class="d-none">
  <symbol id="icon-bar-home" fill="none" viewBox="0 0 26 25" xmlns="http://www.w3.org/2000/svg"><path d="M18.208 21.875H7.792a4.167 4.167 0 0 1-4.167-4.167v-6.554a4.167 4.167 0 0 1 2.007-3.563l5.209-3.157a4.167 4.167 0 0 1 4.318 0l5.209 3.157a4.166 4.166 0 0 1 2.007 3.562v6.555a4.167 4.167 0 0 1-4.167 4.167zM9.875 17.708h6.25" stroke="#777986" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></symbol>
  
  <symbol id="icon-bar-search" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" fill="none" r="9" stroke="#777986" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/><path fill="none" stroke="#777986" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" d="M27 27l-6.634-6.634"/></symbol>

  <symbol id="icon-bar-star" fill="none" viewBox="0 0 26 25" xmlns="http://www.w3.org/2000/svg"><path d="M9.974 5.636c.813-1.959 3.531-1.959 4.344 0L14.884 7a2.365 2.365 0 0 0 1.913 1.454l1.58.18c1.996.225 2.82 2.732 1.363 4.143l-1.342 1.298c-.59.571-.851 1.412-.69 2.225l.324 1.64c.41 2.077-1.814 3.644-3.57 2.516l-1.06-.68a2.318 2.318 0 0 0-2.513 0l-1.06.68c-1.755 1.128-3.98-.44-3.57-2.515l.325-1.64c.16-.814-.1-1.655-.69-2.226l-1.342-1.298c-1.458-1.41-.633-3.918 1.363-4.144l1.58-.179A2.365 2.365 0 0 0 9.407 7l.567-1.364z" stroke="#777986" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></symbol>
  
  <symbol id="icon-bar-account" fill="none" viewBox="0 0 17 19" xmlns="http://www.w3.org/2000/svg"><path d="M1.208 16.792a7.292 7.292 0 1 1 14.584 0M8.5 9.5a4.167 4.167 0 1 0 0-8.333 4.167 4.167 0 0 0 0 8.333v0z" stroke="#777986" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></symbol>
</svg>
<!--------- END: SVGs --------->