<div class="container">
	<div class="row justify-content-center">
		<div class="col-6 text-center">
			<div class="mb-4">
				<h2 class="font-bold text-capitalize">What
					<span class="color-primary-gradient">Customer Says</span>
				</h2>
				<p class="color-gray-light mb-0">Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in
					ac adipiscing non. Lectus
					dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
			</div>
		</div>
	</div>

	<div class="row">
		
		<div class="col-12">
			<owl-carousel-o [options]="customOptions">

				<ng-container *ngFor="let slide of slides">
					<ng-template carouselSlide>
						<div class="testimonial-card">
							<div class="card-text">
								<i class="fa fa-quote-right mb-3"></i>
								<p>{{slide.paragaraph}}</p>
							</div>
							<hr>
							<div class="card-text">
								<h6 class="font-bold">{{slide.name}}</h6>
								<rating [(ngModel)]="slide.rating" [max]="6" class="colo-primary-gradient m-end-2" [readonly]="true"></rating>
								<span>{{slide.rating}}</span>
							</div>
						</div>
					</ng-template>
				</ng-container>
			</owl-carousel-o>
		
		</div>

		<div class="col-12">
			<div class="wrapper d-md-block  ">
				<div class="carousel-wrapper d-flex justify-content-between ">
					
				</div>
			</div>
		</div>
	</div>
</div>