html,
body {
    // overflow-x: hidden;
}

body {
	padding-bottom: 75px;
	color: $color-body;
	// background-color: rgba(251, 218, 235, 0.3);
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,0) 42%, rgba(255,242,249,1) 100%);

	&:before {
			content: "";
			transition: all 0.35s;
	}
	@include media-breakpoint-up(md) {
			// START: Tablet size
			// padding-top: 56px;
	}
	// END: Tablet size
	@include media-breakpoint-up(lg) {
			// START: Desktop size
			padding-top: 0;
	}
	// END: Desktop size
	#bodyContainer {
			height: 100%;
	}
}

// border blue in focus on items
// :focus{
//   outline: 2px solid #00b0ca !important;
// }
:focus {
	outline: none !important;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
}

a,
span,
small,
strong {
	@extend img;
	vertical-align: baseline;
}

// this for Liferay to remove spaces between contents
.portlet-boundary,
body {
	&>span {
		display: inline;
	}
}

#hrefFm {
	&>span {
		display: inline;
	}
}

a {
	color: inherit;
	&:hover {
		// color: inherit;
		text-decoration: none;
	}
}

// [class*="link"] {
//   &:hover {
//     cursor: pointer;
//   }
// }
// / .rtl-flip-v
.ltr-flip {
	&-v {
		#{$ltr-global} & {
			transform: scaleX(1);
			filter: flipv;
		}
	}
}

.not-scroll {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

// For pages with mini content
.page-mini {
	min-height: calc(100vh - 130px); // 100vh - Height header - Height footer spoc
}


/******** START: Nav backdrop Header ********/

.nav {
	&-backdrop {
		&:before {
			content: "";
			background-color: rgba(0, 0, 0, 0.7);
			display: block;
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 2;
			top: 50px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			@include media-breakpoint-up(md) {
				// START: Tablet size
				top: 56px;
			}
			// END: Tablet size
			@include media-breakpoint-up(lg) {
				// START: Desktop size
			}
			// END: Desktop size
		}
	}
}


/******** END: Nav backdrop Header ********/


/******** START: Accordion List ********/

.accordion-list {
	#{$ltr-global} & {
		margin-left: 1rem;
	}
	#{$rtl-global} & {
		margin-right: 1rem;
	}
	li {
		&:last-child {
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}


/******** END: Accordion List ********/


/******** START: Routing List ********/

.routing-list {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	color: $color-monochrome-light-grey;
	background: $color-monochrome-dark-grey;
	list-style: none;
	position: fixed;
	bottom: 10px;
	right: 0;
	z-index: 999;
	@include media-breakpoint-up(md) {
		top: 90px;
		bottom: auto;
	}
}


/******** END: Routing List ********/


/******** START: remove all default Webkit search field styling ********/

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
	-webkit-appearance: none;
}


/******** END: remove all default Webkit search field styling ********/


/******** START: SVG App Loader ********/

.app-loader {
	stroke-dasharray: 119 121;
	stroke-dashoffset: 120;
	animation: dUtHewNr_draw_0 3000ms linear 0ms infinite, dUtHewNr_fade 3000ms linear 0ms infinite;
}

@keyframes dUtHewNr_draw {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dUtHewNr_fade {
	0% {
		stroke-opacity: 1;
	}
	66.66666666666667% {
		stroke-opacity: 1;
	}
	100% {
		stroke-opacity: 0;
	}
}

@keyframes dUtHewNr_draw_0 {
	26.666666666666668% {
		stroke-dashoffset: 120;
	}
	66.66666666666666% {
		stroke-dashoffset: 0;
	}
	100% {
		stroke-dashoffset: 0;
	}
}


/******** END: SVG App Loader ********/

.lazy {
	&.lazy-card {
		@extend .shimmer-bg;
	}
}

.wrap-long-word {
	width: 100%;
	word-wrap: break-word;
}