<div class="container ">
	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<owl-carousel-o [options]="customOptions">
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
				<ng-template carouselSlide>
					<img lazyLoad="assets/images/mealsimg.png" alt="" class="w-100">
				</ng-template>  
			</owl-carousel-o>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="py-md-5 d-flex flex-column">
				<h3 class="font-bold d-none d-md-block">About <span class="color-primary-gradient">Petman</span></h3>
				<div class="flex-nowrap mb-2 d-none d-md-flex">
					<span class="bg-primary-transparent d-inline-block px-2 py-1 radius text-capitalize m-end-2">
						<span class="color-primary-gradient">pets</span>
					</span>
					<span class="bg-primary-transparent d-inline-block px-2 py-1 radius text-capitalize m-end-2">
						<span class="color-primary-gradient">dogs</span>
					</span>
					<span class="bg-primary-transparent d-inline-block px-2 py-1 radius text-capitalize m-end-2">
						<span class="color-primary-gradient">$$$</span>
					</span>
				</div>

				<p class="my-2 d-none d-md-block">Petman is a platform for Local Premium Quality Pet Products. We launched our
					first product “Gourmet Microwavable Dog Meals”. We will focus on Local Pet Products and help the product
					creators grow through collaboration See less
				</p>

				<div class="py-md-2 mt-4 mt-md-0 pb-2 text-end text-md-start">
					<span class="bg-primary-30 d-inline-block px-2 py-1 radius">
						<i class="fa fa-line-chart color-primary-gradient" aria-hidden="true"></i>
					</span>
					<span class="bg-primary-30 d-inline-block px-2 py-1 radius m-start-3">
						<i class="fa fa-bookmark-o color-primary-gradient m-end-1" aria-hidden="true"></i>
						<span class="font-bold color-primary-gradient">Save</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>