<section class="about bg-gray">
    <div class="container ">
        <div class="row  justify-content-center  x-sm-3 mt-md-5 py-2">

            <div class="col-md-6  col-sm-12 w-sm-100 col- ">

                <!-- <div class="aboutAmage"> -->
                <div class="aboutimg">

                    <img src="assets/images/mealsimg.png" alt="" class="w-100 ">

                </div>



                <!-- </div> -->

                <div class="aboutLogoImage  position-relative p-5 ">
                    <!-- <img src="assets/images/brand2.png" class="mybook" alt=""> -->
                </div>
            </div>
            <div class="col-md-6  position-sm-relative  col-sm-12 col-">
                <!-- d-sm-flex flex-sm-column -->
                <div class="aboutInfo position-relative  py-md-5  text-sm-gray d-sm-flex flex-sm-column ">

                    <h3 class=" order-2  order-md-1">About <span>Petman</span></h3>
                    <div class="d-flex flex-nowrap  order-3  order-md-2 ">
                        <div class="pets px-2  mx-1 bd-highlight">Pets</div>
                        <div class=" pets  px-2 mx-1 bd-highlight">Dogs</div>
                        <div class="  pets  mx-1 px-2 bd-highlight">$$$</div>
                    </div>

                    <p class="order-4 order-md-3 ">Petman is a platform for Local Premium Quality Pet Products. We launched our first product “Gourmet Microwavable Dog Meals”. We will focus on Local Pet Products and help the product creators grow through collaboration See less
                    </p>

                    <div class="  order-1 btns order-md-4 py-md-2  pb-2">
                        <div class="pets w-auto btn mx-1 p-1 "><i class="fa fa-line-chart " aria-hidden="true "></i></div>
                        <div class=" pets w-auto mx-1  btn p-1 "> <i class="fa fa-bookmark-o px-2 " aria-hidden="true "></i>save</div>
                        <div class="btn1 "></div>
                    </div>
                </div>



            </div>






        </div>

    </div>

    <!-- </div>


-->
</section>