<section class="headerr d-sm-none  bg-white d-sx-none d-xs-none d-md-block ">
	<div class="container px-4 ">
			<div class="row align-items-center justify-content-between ">
					<div class="d-flex py-3 align-items-center justify-content-center "> <img [src]="logoimg " class="logo " alt="logo ">
							<div class="px-2 ">
									<h1>petman
									</h1>
									<p>3,203 Saves</p>
							</div>
					</div>
					<button class="btn btn-primary-reverse mb-0">
						<span class="btn-txt">Visit Store</span>
					</button>


			</div>
	</div>


</section>