<section class="navbarr">


    <div class="container">

        <div class="row">
            <div class="col-sm-12 bg-gray  mx-2 d-md-none d-xl-none d-lg-none d-sm-block">
                <div class="smallscreen_nav d-flex  align-items-center pt-3">
                    <button class="arrow border-0 mx-1 p-1 ">
                        <span>    <i class="fa fa-angle-left"></i>
                        </span>
                    </button>
                    <div class="petman   pt-3 m-auto">
                        <p>@PETMAN
                            <span><i class="fa fa-check "></i> </span>
                        </p>
                    </div>

                    <!-- <div class="pets w-auto btn mx-1 p-1 ">
                        <i class="fa fa-check"></i> </div> -->
                </div>


            </div>
            <div class="col-md-12 d-md-block d-xl-block d-lg-block d-sm-none ">
                <div class="largescreen_nav  py-3 my-0 ">
                    <nav class="navbar  d-flex justify-content-between navbar-expand-lg navbar-white bg-white">
                        <a class="navbar-brand d-flex  mx-3 " href="#">

                            <div class="vector mx-1 px-0"><span> <i class="fa fa-angle-left"></i> </span>
                            </div>
                            <div class="explore px-0 mx-1">
                                <p>uxplore</p>
                            </div>
                        </a>

                        <div class="" id="navbarText  mt-3">

                            <span class="navbar-text">
                                <ul class="navbar-nav px-2  m-auto">
                                    <li class="nav-item">
                                        <span class="nav-link  arabic pt-3 mx-3 " href="#"> عربي  <span class="sr-only">(current)</span></span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn1 " href="#">Discover</a>
                            </li>
                            <li class="nav-item text-center px-2 ">
                                <a class="nav-link btn btn2   text-center" href="#">Join Now</a>
                            </li>
                            </ul>
                            <!-- Navbar text with an inline element -->
                            </span>
                        </div>
                    </nav>
                </div>

            </div>


        </div>
    </div>

</section>