<!--------- START: Rating --------->
<i *ngIf="rate > 0" class="rating-item fa fa-star rating-item color-primary-gradient"></i>
<i *ngIf="rate > 1" class="rating-item fa fa-star rating-item color-primary-gradient"></i>
<i *ngIf="rate > 2" class="rating-item fa fa-star rating-item color-primary-gradient"></i>
<i *ngIf="rate > 3" class="rating-item fa fa-star rating-item color-primary-gradient"></i>
<i *ngIf="(rate > 4) " class="rating-item fa fa-star rating-item color-primary-gradient"></i>
<!-- <i *ngIf="(rate % 1 != 0) && (rate <= 5)" class="fa fa-star-half color-primary-gradient"></i> -->
<!--------- END: Rating --------->