.galary {
    background-color: white;
}

.heading {
    text-align: center;
    margin: auto;
}

.heading span {
    color: #DE1087
}

.heading h2 {
    font-family: Archivo;
    font-weight: bold;
    font-size: 48px;
    line-height: 120%;
    text-transform: capitalize;
}

.heading p {
    font-family: Archivo;
    line-height: 160%;
    text-align: center;
    color: #777986;
    text-align: center;
    width: 570px;
}

.brand {
    position: static;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 3px 5px;
    position: relative;
}

.brand img {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.brand .brandName {
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #101223;
}

.headingsm h4,
.headingsm a {
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    text-transform: capitalize !important;
}

.headingsm a {
    color: #DE1087;
    font-size: 16px;
    line-height: 24px;
}

.headingsm h4 {
    font-size: 20px;
    line-height: 24px;
    color: #101223;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) {
    .heading {
        display: none
    }
}