<section class="brands bg-white text-center my-5 ">


    <div class="container ">
        <div class="heading  d-sm-none d-md-flex  d-lg-flex d-xl-flex center  flex-column align-items-center  ">
            <h2>related
                <span class="ourheading">brands</span>
            </h2>
            <p>Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in ac adipiscing non. Lectus dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
        </div>
        <div class="headingsm  py-4 d-sm-flex d-md-none d-lg-none d-xl-none center d-flex  justify-content-between  ">
            <h4>related brands</h4>

            <a>view all </a>
        </div>

        <div class="row    d-flex  justify-content-center align-items-center align-content-between flex-wrap">



            <div class="brand  border-sm-none  w-sm-50 text-center">


                <img src="assets/images/brand1.png" alt="" class=" rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Jazeel</p>
            </div>
            <div class="brand">
                <img src="assets/images/brand2.png" alt="" class=" rounded-circle  mt-3  ">
                <p class="brandName  pt-4">Petman</p>
            </div>
            <div class="brand">

                <img src="assets/images/brand3.png" alt="" class="rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Khanfkhar</p>

            </div>
            <div class="brand">
                <img src="assets/images/brand4.png" alt="" class="rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Up Fuse</p>

            </div>
            <div class="brand">

                <img src="assets/images/brand5.png" alt="" class=" rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Decobate</p>

            </div>
            <div class="brand disapear_brand ">
                <!-- <div class="brandimg"> -->
                <img src="assets/images/brand6.png" alt="" class=" rounded-circle  pt-4 mt-3">
                <!-- </div> -->
                <p class="brandName  pt-4">Knum</p>

            </div>
            <div class="brand">

                <img src="assets/images/brand7.png" alt="" class="rounded-circle  pt-4  mt-3">
                <p class="brandName  pt-4">Doodle Factory</p>

            </div>
            <div class="brand  disapear_brand   d-sm-none d-md-block d-lg-block d-xl-block">
                <img src="assets/images/brand9.png" alt="" class="rounded-circle pt-4 mt-3">
                <p class="brandName  pt-4">Khanfkhar</p>

            </div>
            <div class="brand   d-sm-block d-md-none d-lg-none d-xl-none">
                <img src="assets/images/brand12.png" alt="" class="rounded-circle pt-4 mt-3">
                <p class="brandName  pt-4">Maison Marie</p>

            </div>
            <div class="brand">
                <img src="assets/images/brand8.png" alt="" class=" rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Knum</p>

            </div>

            <div class="brand  disapear_brand  d-sm-none d-md-block d-lg-block d-xl-block">
                <img src="assets/images/brand10.png" alt="" class=" rounded-circle  pt-4 mt-3">
                <p class="brandName  pt-4">Up Fuse</p>

            </div>
            <div class="brand   disapear_brand d-sm-none d-md-block d-lg-block d-xl-block">

                <img src="assets/images/brand2.png" alt="" class=" rounded-circle  mt-3  ">
                <p class="brandName  pt-4">Petman</p>

            </div>




        </div>

    </div>


</section>