<!--------- START: Brands --------->
<div class="brands">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="mb-4">
					<h2 class="font-bold text-capitalize">related
						<span class="color-primary-gradient">brands</span>
					</h2>
					<p class="color-gray-light mb-0">Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in ac adipiscing non. Lectus
						dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center align-items-center align-content-between flex-wrap">
			<div class="col-12">
				<div class="d-flex justify-content-center align-items-center align-content-between flex-wrap">
					<div *ngFor="let brand of brands" class="brand radius-2x">
						<img [src]="brand.brandImg" alt="" class="brand-img rounded-circle mt-4">
						<p class="brand-name font-bold mt-4">{{brand.brandName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--------- START: Brands --------->