<!--------- START: Brands --------->
<div class="brands">
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="mb-4">
					<div class="d-flex justify-content-between align-items-center flex-row flex-lg-column mb-2">
						<h2 class="section-title color-black font-bold mb-0">related
							<span class="">brands</span>
						</h2>
						<span class="color-primary-gradient text-capitalize font-bold d-lg-none">see more 
							<i class="fa fa-arrow-right m-start-1" aria-hidden="true"></i>
						</span>
					</div>
					<p class="color-gray-light mb-0 d-none d-lg-block">Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in ac adipiscing non. Lectus
						dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center align-items-center align-content-between flex-wrap">
			<div class="col-12">
				<div class="d-flex justify-content-center align-items-center align-content-between flex-wrap">
					<div *ngFor="let brand of brands" class="brand radius-2x">
						<img [src]="brand.brandImg" alt="" class="brand-img rounded-circle mt-4">
						<p class="brand-name font-bold mt-4">{{brand.brandName}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--------- START: Brands --------->