<section class="galary text-center py-md-4 ">


    <div class="container ">
        <div class="heading  d-sm-none d-md-flex  d-lg-flex d-xl-flex center  flex-column align-items-center  ">
            <h2>our
                <span class="ourheading">gallary</span>
            </h2>
            <p>Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in ac adipiscing non. Lectus dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
        </div>
        <div class="headingsm  py-4 d-sm-flex d-md-none d-lg-none d-xl-none center d-flex  justify-content-between  ">
            <h4>gallary</h4>

            <a>view all </a>
        </div>
        <div class="row">


            <div class="col-sm-8  col-md-6 col-lg-6 col-xl-6 ">
                <div class=" gallary1 ">
                    <img src="assets/images/gallary1.png " alt=" " class="p-sm-2 img-fluid  ">
                    <div class="d-sm-flex   x d-md-none d-lg-none d-xl-none  justify-content-sm-center justify-content-md-none   ">
                        <img src="assets/images/gallary5.png " alt=" " class=" p-sm-2  w-50 ">

                        <img src="assets/images/gallary4.png " alt=" " class=" p-sm-2 w-50 ">

                    </div>
                </div>
            </div>
            <div class="col-sm-4  col-md-6 col-lg-6 col-xl-6">
                <div class="gallary2 d-sm-flex flex-sm-column   d-md-block d-xl-block d-lg-block">
                    <img src="assets/images/gallary2.png " alt=" " class="p-sm-2 w-50 ">
                    <img src="assets/images/gallary6.png " alt=" " class=" p-sm-2 w-50    d-sm-flex   d-md-none d-lg-none d-xl-none">
                    <img src="assets/images/gallary3.png " alt=" " class=" p-sm-2 w-50 ">
                    <div class="d-sm-none    d-md-flex d-lg-flex d-xl-flex  ">
                        <img src="assets/images/gallary4.png " alt=" " class=" p-sm-2 w-50 ">

                        <img src="assets/images/gallary5.png " alt=" " class=" p-sm-2 w-50 ">


                    </div>
                </div>

            </div>

        </div>
    </div>






</section>