<div class="container ">
	<div class="row justify-content-center">
		<div class="col-lg-6 text-center">
			<div class="mb-4">
				<div class="d-flex justify-content-between align-items-center flex-row flex-lg-column mb-2">
					<h2 class="section-title color-black font-bold mb-0">Our
						<span class="">Gallery</span>
					</h2>
					<span class="color-primary-gradient text-capitalize font-bold d-lg-none">see more 
						<i class="fa fa-arrow-right m-start-1" aria-hidden="true"></i>
					</span>
				</div>
				<p class="color-gray-light mb-0 d-none d-lg-block">Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in
					ac adipiscing non. Lectus
					dignissim eu quis sagittis neque, vitae eleifend. Diam.</p>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-8 col-lg-6">
			<div class="">
				<img src="assets/images/gallary1.png" alt=" " class="img-fluid radius-3x">
			</div>
		</div>
		<div class="col-4 col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<img src="assets/images/gallary2.png" alt=" " class="img-fluid radius-3x mb-4">
				</div>
				<div class="col-lg-6">
					<img src="assets/images/gallary3.png" alt=" " class="img-fluid radius-3x mb-4">
				</div>
				<div class="col-6 d-none d-lg-block">
					<img src="assets/images/gallary4.png" alt=" " class="img-fluid radius-3x">
				</div>
					<div class="col-6 d-none d-lg-block">
					<img src="assets/images/gallary5.png" alt=" " class="img-fluid radius-3x">
				</div>
			</div>
		</div>
	</div>

	<div class="row d-none">
		<div class="col-sm-8  rightsec col-md-6 col-lg-6 col-xl-6 col-xs-8 ">
			<div class=" gallary1 ">
				<img src="assets/images/gallary1.png" alt=" " class="p-sm-2 img-fluid img1  ">
				<div
					class="d-sm-flex   rightimgs x d-md-none d-lg-none d-xl-none  justify-content-sm-center justify-content-md-none   ">
					<img src="assets/images/gallary5.png" alt=" " class=" p-sm-2 w-50 ">

					<img src="assets/images/gallary4.png" alt=" " class=" p-sm-2 w-50  gallaryimg  ">

				</div>
			</div>
		</div>
		<div class="col-sm-4 leftsec col-md-6 col-lg-6 col-xl-6 col-xs-4">
			<div class="gallary2 d-sm-flex flex-sm-column   d-md-block d-xl-block d-lg-block">
				<img src="assets/images/gallary2.png" alt=" " class="p-sm-2 w-50  gallaryimg  ">
				<img src="assets/images/gallary6.png" alt=" "
					class=" p-sm-2 w-50   gallaryimg6   d-sm-flex   d-md-none d-lg-none d-xl-none">
				<img src="assets/images/gallary3.png" alt=" " class=" p-sm-2 w-50  gallaryimg  ">
				<div class="d-sm-none   leftimgs d-md-flex d-lg-flex d-xl-flex  ">
					<img src="assets/images/gallary4.png" alt=" " class=" p-sm-2 w-50   gallaryimg">

					<img src="assets/images/gallary5.png" alt=" " class=" p-sm-2 w-50  gallaryimg">


				</div>
			</div>

		</div>

	</div>
</div>