//[1] Font name
    // Merged Fonts
    $font-family-regular:       'ux-regular';
    $font-family-bold:          'ux-bold';
    $font-family-light:         'ux-light';

    // Splitted Fonts [Ar & En]
    $font-family-regular-en:    'uxplor-regular-en';
    $font-family-bold-en:       'uxplor-bold-en';
    $font-family-light-en:      'uxplor-light-en';

    $font-family-regular-ar:    'uxplor-regular-ar';
    $font-family-bold-ar:       'uxplor-bold-ar';
    $font-family-light-ar:      'uxplor-light-ar';

    $font-regular:              $font-family-regular-en, $font-family-regular-ar;
    $font-bold:                 $font-family-bold-en, $font-family-bold-ar;
    $font-light:                $font-family-light-en, $font-family-light-ar;


//[2] Font size
    $font-size-base:            1rem !default; // Assumes <html> font size, typically `18px`
    $body-size:                 $font-size-base !default;

    $h1-size:                   $font-size-base * 2.66 !default;
    $h2-size:                   $font-size-base * 2.22 !default;
    $h3-size:                   $font-size-base * 1.77 !default;
    $h4-size:                   $font-size-base * 1.33 !default;
    $h5-size:                   $font-size-base * 1.11 !default;
    $h6-size:                   $font-size-base !default;

    $small-size:                $font-size-base * 0.77 !default;
    $small-size-2x:             $font-size-base * 0.88 !default;
    $small-size-3x:             $font-size-base !default;


    $text-lg:                   $font-size-base !default;
    $text-md:                   $font-size-base * 0.88 !default;
    $text-sm:                   $font-size-base * 0.77!default;
    $text-xs:                   $font-size-base * 0.66 default;