<!--------- START: Gallery --------->
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 text-center">
			<div class="mb-3 mb-lg-4">
				<div class="d-flex justify-content-between align-items-center flex-row flex-lg-column">
					<h2 class="section-title color-black font-bold mb-0">Our
						<span class="">Gallery</span>
					</h2>
					<!-- <span class="color-primary-gradient text-capitalize font-bold d-lg-none">see more 
						<i class="fa fa-arrow-right m-start-1" aria-hidden="true"></i>
					</span> -->
				</div>
				<!-- <p class="color-gray-light mb-0 d-none d-lg-block">Mauris neque sed quisque urna et duis enim. Commodo augue senectus ac quis in ac adipiscing non. Lectus dignissim eu quis sagittis neque, vitae eleifend. Diam.</p> -->
			</div>
		</div>
	</div>


	<!-- <div class="row">
		<div class="col-8 col-lg-6">
			<div class="">
				<img lazyLoad="assets/images/gallery1.png" alt="" class="lazy img-fluid radius-3x">
			</div>
		</div>
		<div class="col-4 col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<img lazyLoad="assets/images/gallery2.png" alt="" class="img-fluid radius-3x mb-4">
				</div>
				<div class="col-lg-6">
					<img lazyLoad="assets/images/gallery3.png" alt="" class="img-fluid radius-3x mb-4">
				</div>
				<div class="col-6 d-none d-lg-block">
					<img lazyLoad="assets/images/gallery4.png" alt="" class="img-fluid radius-3x">
				</div>
					<div class="col-6 d-none d-lg-block">
					<img lazyLoad="assets/images/gallery5.png" alt="" class="img-fluid radius-3x">
				</div>
			</div>
		</div>
	</div> -->

	<div class="row">
		<div class="col-sm-8 rightsec col-md-6 col-lg-6 col-xl-6 col-xs-8">
			<div class="gallery1">
				<img lazyLoad="assets/images/gallery1.png" alt="" class="p-2 img-fluid img1 radius-3x">
				<div class="d-sm-flex rightimgs d-md-none justify-content-sm-center justify-content-md-none">
					<img lazyLoad="assets/images/gallery5.png" alt="" class="p-2 w-50 radius-3x">
					<img lazyLoad="assets/images/gallery4.png" alt="" class="p-2 w-50 galleryimg radius-3x">
				</div>
			</div>
		</div>
		
		<div class="col-sm-4 leftsec col-md-6 col-lg-6 col-xl-6 col-xs-4">
			<div class="gallery2 d-sm-flex flex-sm-column d-md-block d-xl-block d-lg-block">
				<img lazyLoad="assets/images/gallery2.png" alt="" class="p-2 w-50  galleryimg radius-3x">
				<img lazyLoad="assets/images/gallery3.png" alt="" class="p-2 w-50 galleryimg6 d-sm-flex radius-3x d-md-none">
				<img lazyLoad="assets/images/gallery3.png" alt="" class="p-2 w-50 galleryimg radius-3x">

				<div class="d-sm-none leftimgs d-md-flex d-lg-flex d-xl-flex">
					<img lazyLoad="assets/images/gallery4.png" alt="" class="p-2 w-50 galleryimg radius-3x">
					<img lazyLoad="assets/images/gallery5.png" alt="" class="p-2 w-50 galleryimg radius-3x">
				</div>
			</div>
		</div>
	</div>
</div>
<!--------- END: Gallery --------->